body {
  font-size: 13px;
}

#wrapper {
  padding: 10px;
}

a {
  color: blue;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

td, th {
  padding: 8px;
  border: 1px solid black;
}

td a {
  text-decoration: none;
}

a.delete {
  cursor: pointer;
  color: red;
}


